@import "tailwindcss";

:root {
  --secondary-color: #183286;
  --primary-color: #2563eb;
  --secondary-bgColor: #f9fafb;
}

body {
  background-color: #ffffff;
}

.container {
  margin-inline: auto;
  padding-inline: 4rem;
}
